*{
    font-family: Arial, Helvetica, sans-serif;
    color: #292929;
    margin: 0;
    box-sizing: border-box;
}

.c-pointer{
    cursor: pointer;
}

/* Navigation bar */
.nav-bar{
    height: 133.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    border-bottom: 1.5px solid #eae6e6;
}

.nav-logo{
    height: 108px;
    width: 108px;
    margin-top: 5px;
    margin-left: 49.4px;
    background-image: url(arches-logo_108x108.jpg);
    background-size: cover;
}

.nav-menu{
    height: 100px;
    width: 100%;
    margin-left: 60px;
}

.nav-menu-row1{
    height: 40px;
    width: 90%;
    padding-left: 10px;
    /* background-color: rgb(195, 191, 185); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

.row1-space{
 width: 20%;
}

button{
    height: 40px;
    background-color: #ffbc0d;
    border-radius: 4px;
    border: none;
    padding: 8px 25px;
    font-size: 16px;
}

.nav-menu-row2{
    height: 40px;
    width: 90%;
    padding-left: 10px;
    margin-top: 20px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

.row2-space{
    width: 10%;
}

/* main body */
.Main-content{
    width: 100%;
    height: 100%;
    background-color: #292929;
}


.main-container{
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.image-container{
    background-size: cover;
    float: left;
    width: 60.6%;
    height: 313.98px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.details-container{
    padding:  0px 80px 0px 15px;
    width: 34%
}
h2{
    font-size: 36px;
    margin: 15px 0px 18px 0px;
}

.footer-main-contaier{
    padding:100px 15px 100px 15px;
    margin: 0px 49.4px 0px 49.4px;
}

.footer-main-container{
    height: 911.08px;
    padding: 100px 80px 100px 80px;
}

/* Footer area */
.footer-nav-main{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 18px 0 18px 0;
}

.column-title{
    font-size: 16px;
}

.list{
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 200%;
    width: 164.4px;
    cursor: pointer;
}

.social-media-promotion{
    height: 86px;
    display: flex;
    padding: 0px 0px 0px 40px;
    border-bottom: 1.5px solid #eae6e6;
}

.social-media-icons i{
    display: flex;
    font-size: 26px;
    justify-content: space-between;
    
}

.icon-box{
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-left: 15px;
}

.app-store-play-store{
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.app-play-store{
    height: 40px;
    width: 155px;
    background-size: cover
}

.footer-legal-links{
    height: 200px;
    width: 100%;
    display: flex;
    padding: 50px 0px 0px 40px;
    justify-content: space-evenly;
}

.legal-links{
    width: 70%;
}
.links-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-right: 50px;
}
.copyright-note{
    text-align: right;
    padding-left: 50px;
}

